* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #e5e5e5;
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
}

.form-step {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: auto;
  padding: 2rem;
  height: auto;
  width: 700px;
  min-width: 400px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.form-step h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.form-group input,
textarea,
select {
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 5px;
}

textarea {
  resize: none;
  min-height: 80px;
  max-height: 80px;
  font-family: "Inter", Arial, sans-serif;
}
textarea::placeholder {
  font-family: "Inter", Arial, sans-serif;
}

.form-group input:focus,
select:focus,
textarea:focus {
  border-color: #068d6d;
  outline: none;
}
select option[value=""] {
  color: #a8a8a8;
}
.expiry-date {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-top: 32px;
}
button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 39px;
  cursor: pointer;
  letter-spacing: 1px;
}

button.next-btn,
button.submit {
  background: #068d6d;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 100%;
  max-width: 220px;
  transition: #068d6d 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button.next-btn:hover {
  background-color: #047857;
}

button.back-btn {
  background-color: #fff;
  color: #068d6d;
  border: 2px solid #068d6d;
  transition: background-color 0.2s, color 0.2s;
}

button.back-btn:hover {
  background: #e6f7f2;
}
.arrow {
  font-size: 20px;
  width: 16px;
  margin-left: auto;
  color: #fff;
}
.review-section h3 {
  margin-bottom: 0.5rem;
}
